<!doctype html>
<html lang="en" class="{% if iOS %}{{ iOS }}{% endif %}{% if iPad %} ipad{% endif %}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
        <link rel="profile" href="http://gmpg.org/xfn/11">        
        <title>{{ wp_title ? wp_title ~ ' | ' }} {{ site.name }}</title>

        <!--[if lt IE 9]>
            <link rel="stylesheet" href="{{ site.theme.link }}/css/ie9.css">
            <script>var browser = 'ie9';</script>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <link rel="stylesheet" href="{{ site.theme.link }}/build/app.min.css">
        {{ wp_head }}
    </head>

    <body class="{{ body_class }}">

        <header>
            <nav>
                
            </nav>
        </header>
    